@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.modal-mobile-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: hsla(0deg, 0%, 0%, 0.5);
}
.modal-mobile-menu__nav {
  background-color: hsl(0deg, 0%, 100%);
  width: 242px;
  height: 100%;
  padding: 20px;
}
.modal-mobile-menu__nav img {
  padding-bottom: 45px;
}
.modal-mobile-menu__nav img:hover {
  cursor: pointer;
}
.modal-mobile-menu__nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-mobile-menu__nav ul li a {
  text-decoration: none;
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
}

.modal-both-ways-cart {
  display: none;
  position: absolute;
  top: 85px;
  width: 357px;
  height: 238px;
  border-radius: 6px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 20px;
  box-shadow: 0 0 15px hsl(0deg, 0%, 0%);
  z-index: 1;
}
@media (min-width: 1300px) {
  .modal-both-ways-cart {
    top: 85px;
    left: 978px;
  }
}
.modal-both-ways-cart__cart {
  position: relative;
  color: hsl(0deg, 0%, 0%);
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 20px;
}
.modal-both-ways-cart .line {
  position: absolute;
  left: 0;
  width: 100vw;
  margin: auto;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
.modal-both-ways-cart__container {
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-both-ways-cart__thumbnail {
  width: 41px;
  border-radius: 5px;
}
.modal-both-ways-cart__phrases {
  display: flex;
  flex-direction: column;
  color: hsl(219deg, 9%, 45%);
  font-size: 1.1em;
}
.modal-both-ways-cart__phrases p:nth-child(2) span {
  color: hsl(0deg, 0%, 0%);
  font-weight: 700;
}
.modal-both-ways-cart__delete {
  width: 12px;
  height: 15px;
}
.modal-both-ways-cart__delete:hover {
  cursor: pointer;
}
.modal-both-ways-cart__button {
  margin-top: 30px;
  width: 315px;
  height: 55px;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 0.9em;
  border: none;
  border-radius: 8px;
}
.modal-both-ways-cart__button:hover {
  cursor: pointer;
  filter: opacity(50%);
}
.modal-both-ways-cart__empty {
  width: 100%;
  color: hsl(219deg, 9%, 45%);
  text-align: center;
  margin-top: 4.375rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.section-carrousel article:nth-child(1) {
  position: relative;
}
.section-carrousel__previous {
  position: absolute;
  top: 142px;
  left: 13px;
  background-color: hsl(0deg, 0%, 100%);
  width: 32px;
  height: 32px;
  padding: 10px;
  border-radius: 50%;
}
.section-carrousel__image {
  background-image: url("../images/image-product-1.jpg");
  background-position: center -30px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.section-carrousel__next {
  position: absolute;
  top: 142px;
  left: 325px;
  background-color: hsl(0deg, 0%, 100%);
  width: 32px;
  height: 32px;
  padding: 10px;
  border-radius: 50%;
}
.section-carrousel__thumbnails {
  display: none;
}
@media (min-width: 1300px) {
  .section-carrousel {
    flex: 1;
  }
  .section-carrousel__previous {
    display: none;
  }
  .section-carrousel__image {
    background-position: center 0;
    width: 100%;
    height: 600px;
    border-radius: 12px;
  }
  .section-carrousel__image:hover {
    cursor: pointer;
  }
  .section-carrousel__next {
    display: none;
  }
  .section-carrousel__thumbnails {
    margin-top: 30px;
    display: flex;
    gap: 30px;
  }
  .section-carrousel__thumbnails img {
    border-radius: 7px;
    width: 133px;
  }
  .section-carrousel__thumbnails img:hover {
    cursor: pointer;
    border: 3px solid red;
  }
}

.section-information {
  padding: 23px;
}
.section-information__company {
  font-size: 0.7em;
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  margin-bottom: 17px;
}
.section-information__title {
  font-size: 1.4em;
  width: 200px;
  margin-bottom: 10px;
  color: hsl(220deg, 13%, 13%);
}
.section-information__description {
  font-size: 1.1em;
  margin-bottom: 19px;
  color: hsl(219deg, 9%, 45%);
}
.section-information .div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.section-information__discount {
  display: flex;
  gap: 20px;
  color: hsl(220deg, 13%, 13%);
  font-size: 1.5em;
  font-weight: 700;
}
.section-information__discount span {
  color: hsl(26deg, 100%, 55%);
  font-size: 0.6em;
}
.section-information__price {
  color: hsl(219deg, 9%, 45%);
  font-size: 0.8em;
  font-weight: 4;
  text-decoration: line-through;
}
.section-information .div2 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.section-information__minus {
  height: 40px;
  padding: 18px 21px;
  background-color: hsl(0deg, 0%, 100%);
}
.section-information__minus:hover {
  cursor: pointer;
}
.section-information__number {
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1em;
  background-color: hsl(0deg, 0%, 100%);
  height: 40px;
  outline: none;
}
.section-information__plus {
  height: 40px;
  padding: 13px 19px;
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.section-information__button {
  margin-top: 30px;
  width: 315px;
  height: 55px;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 0.9em;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.section-information__button:hover {
  cursor: pointer;
  filter: opacity(50%);
}
@media (min-width: 1300px) {
  .section-information {
    flex: 1;
    padding: 120px 90px 90px 90px;
    height: 760px;
  }
  .section-information__company {
    font-size: 0.75em;
    margin-bottom: 30px;
  }
  .section-information__title {
    font-size: 1.9em;
    width: 300px;
    margin-bottom: 40px;
  }
  .section-information__description {
    font-size: 1.3em;
    line-height: 33px;
    margin-bottom: 60px;
    color: hsl(219deg, 9%, 45%);
  }
  .section-information .div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 80px;
  }
  .section-information__discount {
    align-items: center;
  }
  .section-information .div2 {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }
  .section-information .div2 div {
    margin-bottom: unset;
  }
  .section-information__button {
    margin-top: 30px;
    width: 315px;
    height: 55px;
    background-color: hsl(26deg, 100%, 55%);
    color: hsl(0deg, 0%, 100%);
    font-weight: 700;
    font-size: 0.9em;
    border: none;
    border-radius: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-information__button:hover {
    cursor: pointer;
    filter: opacity(50%);
  }
}

.modal-desktop-carrousel {
  display: none;
}

@media (min-width: 1300px) {
  body {
    overflow: auto;
  }
  .modal-desktop-carrousel {
    visibility: hidden;
    padding-top: 2.5rem;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: hsla(0deg, 0%, 0%, 0.5);
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .modal-desktop-carrousel-section-carrousel .article-carrousel {
    width: 45%;
  }
  .modal-desktop-carrousel-section-carrousel__close {
    position: absolute;
    top: 50px;
    left: 800px;
  }
  .modal-desktop-carrousel-section-carrousel__close:hover {
    cursor: pointer;
    content: url(../images/icon-close-orange.svg);
  }
  .modal-desktop-carrousel-section-carrousel__previous, .modal-desktop-carrousel-section-carrousel__next {
    position: absolute;
    top: 16.875rem;
    left: 21.875rem;
    padding: 0.5rem 0.5rem;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 50%;
    width: 2%;
  }
  .modal-desktop-carrousel-section-carrousel__previous:hover, .modal-desktop-carrousel-section-carrousel__next:hover {
    cursor: pointer;
    border: none;
    border: 1px solid hsl(26deg, 100%, 55%);
  }
  .modal-desktop-carrousel-section-carrousel__image {
    width: 100%;
    border-radius: 0.5625rem;
    background-image: url("../images/image-product-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .modal-desktop-carrousel-section-carrousel__next {
    left: 50rem;
  }
  .modal-desktop-carrousel-section-carrousel__thumbnails {
    margin-top: 1.25rem;
    display: flex;
    padding-left: 1.25rem;
    gap: 2.0625rem;
  }
  .modal-desktop-carrousel-section-carrousel__thumbnails img {
    width: 8%;
    border-radius: 0.3125rem;
  }
  .modal-desktop-carrousel-section-carrousel__thumbnails img:hover {
    cursor: pointer;
    border: 3px solid red;
  }
}
.modal-both-ways-cart-empty {
  display: none;
  position: absolute;
  width: 370px;
  height: 227px;
  top: 90px;
  left: 970px;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  box-shadow: 4px 4px 15px hsl(220deg, 14%, 75%);
}
.modal-both-ways-cart-empty__cart {
  font-size: 1.2em;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
  padding: 20px;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
.modal-both-ways-cart-empty__container {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 700;
  color: hsl(219deg, 9%, 45%);
}

.display-block {
  display: block;
}

.main-container {
  width: 375px;
  height: 900px;
  margin: 0 auto 60px;
  background-color: hsl(223deg, 64%, 98%);
}
@media (min-width: 1300px) {
  .main-container {
    width: 1300px;
    height: 960px;
  }
}

.header-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
@media (min-width: 1300px) {
  .header-web {
    height: 100px;
    margin-bottom: 90px;
  }
}

.section-left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.section-left__icon-menu {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.section-left__icon-menu:hover {
  cursor: pointer;
}
.section-left__icon-logo {
  width: 100px;
  height: 17px;
}
.section-left__nav {
  display: none;
}
.section-left__nav ul {
  display: flex;
}
@media (min-width: 1300px) {
  .section-left__nav {
    display: block;
  }
  .section-left__nav img {
    display: none;
  }
  .section-left__nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  .section-left__nav ul li a {
    text-decoration: none;
    color: hsl(220deg, 14%, 75%);
    font-weight: 700;
  }
  .section-left__nav ul li a:hover {
    cursor: pointer;
    color: hsl(219deg, 9%, 45%);
    padding-bottom: 40px;
    border-bottom: 2px solid hsl(26deg, 100%, 55%);
  }
}
@media (min-width: 1300px) {
  .section-left {
    gap: 56px;
  }
  .section-left__icon-menu {
    display: none;
  }
}

.section-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
.section-right__purchase {
  display: flex;
  align-items: center;
}
.section-right__purchase--number {
  display: none;
  position: absolute;
  left: 7px;
  top: -2px;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 7px;
  padding: 0 6px;
  color: hsl(223deg, 64%, 98%);
  font-size: 0.6em;
}
@media (min-width: 1300px) {
  .section-right__purchase--number {
    left: 16px;
    top: -6px;
    font-size: 0.8em;
  }
}
.section-right__purchase img {
  width: 18px;
  height: 18px;
}
.section-right__purchase img:hover {
  cursor: pointer;
}
@media (min-width: 1300px) {
  .section-right__purchase img {
    width: 34px;
    height: 34px;
  }
}
.section-right__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.section-right__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
}
@media (min-width: 1300px) {
  .section-right__avatar {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 1300px) {
  .rest {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
